<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700|Lato:400,700|Montserrat:400,700' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("DevMeetups", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Add a Meetup", "Create", "Meetups")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
    <script type="text/x-template" id="notifications-template">
        <ul class="notifications">
            <%
                _.each(notifications, function(notification){
                    
                    if(notification.notificationType == 1){ %>
                        <li>
                            <span class="highlight"><%= notification.meetup.developer.name %></span> has cancelled the meetup at <%= notification.meetup.venue %> on <%= moment(notification.meetup.dateTime).format("D MMM HH:mm") %>.
                        </li>
                    <% }
                    else if(notification.notificationType == 2){
                            var changes = [],
                                originalValues = [],
                                newValues = [];

                            if(notification.originalVenue != notification.meetup.venue){
                                
                                changes.push("venue");
                                originalValues.push(notification.originalVenue);
                                newValues.push(notification.meetup.venue);
                            }

                            if(notification.originalDateTime != notification.meetup.dateTime){
                                
                                changes.push("date/time");
                                originalValues.push(moment(notification.originalDateTime).format("D MMM HH:mm"));
                                newValues.push(moment(notification.meetup.dateTime).format("D MMM HH:mm"));
                            }

                        %>
                        <li>
                            <span class="highlight"><%= notification.meetup.developer.name %></span> has changed the <%= changes.join(" and ") %> of the meetup from <%= originalValues.join("/") %> to <%= newValues.join("/") %>.
                        </li>
                    <% }
                })
            %>
        </ul>
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $.getJSON("/api/notifications", function (notifications) {

                $(".js-notifications-count")
                    .text(notifications.length)
                    .removeClass("hide")
                    .addClass("animated bounceInDown");

                $(".notifications").popover({
                    html: true,
                    title: "Notifications",
                    placement: "bottom",
                    content: function () {
                        var compiled = _.template($("#notifications-template").html());
                        return compiled({notifications: notifications});
                    },
                    template: '<div class="popover popover-notifications" role="tooltip"><div class="arrow"></div><h3 class="popover-title"></h3><div class="popover-content"></div></div>'
                });
            });
        });
    </script>
</body>

</html>
