@model DevMeetups.ViewModels.MeetupsViewModel

@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>
<ul class="meetups voffset4">
    @foreach (var meetup in Model.UpcomingMeetups)
    {
        <li>
            <div class="date">
                <div class="month">
                    @meetup.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @meetup.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="developer">
                    @meetup.Developer.Name
                </span>
                <span class="category">
                    @meetup.Category.Name
                </span>
                @if(Model.ShowActions)
                {
                    <btn data-meetup-id="@meetup.Id" class="btn btn-default btn-sm js-attendance-toggle">Going ?</btn>
                    <btn data-user-id="@meetup.DeveloperId" class="btn btn-link btn-sm js-following-toggle">Follow</btn>
                }
            </div>
        </li>
    }
</ul>
@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-attendance-toggle").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { "meetupId": button.attr("data-meetup-id") })
                    .done(function () {
                        button
                            .removeClass("btn-default")
                            .addClass("btn-info")
                            .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });

            $(".js-following-toggle").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { "followeeId": button.attr("data-user-id") })
                    .done(function () {
                        button.text("Following");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
        });
    </script>
}